asgiref==3.5.0
Django==2.1.15
django-bootstrap-form==3.4
django-bootstrap-toolkit==2.15.0
django-pyodbc-azure==2.1.0.0
django-tables==0.2
django-tables2==2.4.1
mysqlclient==2.1.0
pyodbc==4.0.32
pytz==2021.3
sql==2022.4.0
sqlparse==0.4.2